.div_header
{
	background-color:#333333;
	height:50px;
	width:100%;
	position:relative;
	top:0px;
}
.link
{	
	background-color:;
	margin-right:2%;
        margin-top: 1%;
	color:white;
	position:relative;
	text-align:left;
	float:left;
        top:0px;
        left:2%;
    
}
.div_head_c
{
    background-color: red;
    height:1%;
    width:100%;
    position:relative;
    top:0px;
}
.image
{
    height:500px;
    width:100%;
    position: relative;
    top:0px;
    background-image: url(../image/img.jpg);
    background-repeat:no-repeat;
}
.log_div
{
    height:700px;
    width:27%;
    background-color:#ffebcd;
    float: left;
    position:relative;
    top:10px;
}

.div_footer
{
	background-color:#333333;
	height:80px;
	width:100%;
	float:left;
        position: relative;
	top:20px;
}
.link2
{
        background-color:;
	margin-right:30%;
        margin-top: 20%;
	color:blue;
	position:relative;
	text-align:left;
	float:left;
        top:0px;
        left:10%;
}
.link3
{
        background-color:;
	margin-right:10%;
        margin-top: 2%;
	color:blue;
	position:relative;
	text-align:left;
	float:left;
        top:0px;
        left:5%;
    
}

.but
{
   	 width:100px;
	height:35px;
	border-radius:5px;
	padding-left:10px;
	background-color:rgb(200,0,0);
	font-weight:bolder;
}
.but2
{
width:100px;
height:35px;
border-radius:5px;
background-color:skyblue;
font-weight:bolder;
}
.but3
{
   	width:300px;
	height:35px;
	border-radius:5px;
	padding-left:10px;
	background-color:rgb(200,0,0);
	font-weight:bolder;
}
.bg
{
    height:700px;
    width:70%;
    background-color:#ffebcd;
    float: left;
    position:relative;
    top:10px;
    left:3%;	
}
